<!DOCTYPE html>
<html>
<head>
	<%- include('partials/links.ejs') %>
	<title>ERROR</title>
</head>
<body>
	<div class="text-center container text-light mt-5 bg-danger py-4" style="width: 75%;">
		<h1 class="text-light">Oops! An Error occured!</h1>
		<h2><%= err %>.</h2>
		<h2>:(</h2>
	</div>
</body>
</html>